bokeh
ipydatawidgets==4.0.1
ipython==7.7.0
ipywidgets==7.5.1
itsdangerous==1.1.0
nbconvert==5.6.0
nbdime==1.1.0
ipyleaflet==0.13.2
RISE==5.6.0
jupyter_contrib_nbextensions==0.5.1
jupyter==1.0.0
jupyterlab-launcher==0.10.5
notebook==6.0.0
jupyter-kernel-gateway
jupyter-telemetry==0.1.0
scikit-image==0.18.2
seaborn==0.11.1
requests==2.23.0
pandas==1.1.4
sklearn
matplotlib==3.2.0
pdf2image==1.10.0
Pillow==6.2.1
xgboost==1.2.1
lightgbm==2.3.1
selenium==3.141.0
tqdm
pytesseract
folium
plotly
ipyleaflet
keplergl
jupyterlab-dash
html5lib==1.1
beautifulsoup4==4.9.3
fake-useragent==0.1.11
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
SQLAlchemy==2.0.3
Shapely==1.7.1
stem==1.8.0
psycopg2-binary
pysocks
geojson
geopandas
nodejs==0.1.1
tornado
dask==2.1.0
opencv-python
jupyterlab==3.3
efficient-apriori
xlrd==1.2.0
openpyxl
cufflinks
pandas-profiling[notebook]==2.8.0
scipy
ipympl
facenet-pytorch
mmcv
psutil
pytelegrambotapi
exif
pyarrow
pyspark
python-dotenv
xmltodict
geopy==2.2.0
python-dotenv==0.21.1
